@import '@yaireo/tagify/src/tagify';

input,
textarea {
    @include font-primary(16px, 400);
}

.form {
    width: 100%;
}
.stdform {
    &.hide-required-markers {
        .input-wrapper {
            > .label {
                &.is-required::after {
                    content: '';
                }
            }
        }
    }
}


.input-wrapper {
    position: relative;
    width: 100%;
    text-align: left;
    margin-top: 8px;

    &:not(:first-child) {
        //margin-top: 0;
    }
    > .v-select {
        min-width: 120px;
    }
    > .label {
        //margin-left: 4px;
        margin-bottom: 3px;
        display: block;
        font-family: var(--font-input-label);
        font-size: var(--font-input-label-size);
        &.is-required {
            &::after {
                margin-left: 4px;
                color: var(--color-warning);
                content: '*';
            }
        }
        &.opensans {
            @include font-primary();
        }
        &.left {
            margin-left: 0;
        }
        > p {
            margin-left: 32px;
        }
    }
    .swtch {
        margin-bottom: 6px;
        .swtch-cntr {
            top: 3px;
        }
        .swtch-slot {
            position: relative;
            top: -3px;
        }
    }
    &.inline {
        display: inline-block;
        width: auto;
        //vertical-align: top;
        vertical-align: middle;
        margin-top: 0;
        &:not(:first-child) {
            padding-left: 8px;
        }
        //padding-right: 8px;
        margin-right: 8px;
    }
    &.horizontal {
        display: inline-flex;
        > .label {
            display: inline;
        }
    }

    &.flex {
        display: flex;
    }
    &.half {
        //display: inline-block;
        width: 50%;
    }
    &.rounded {
        .control {
            border-radius: 20px;
        }
    }
    &.extra-bottom {
        // maintains vertical spacing for fields with no help-text
        margin-bottom: 17px;
    }
    &.tags {
        &.xreadonly {
            .control {
                pointer-events: none;
                border: 1px solid red;
            }
        }
    }

    &.disabled {
        pointer-events: none;
        @include no-select();
        > .label {
            color: var(--input-text-disabled-color);
        }
        .control {
            background-color: var(--input-background-color);
            > input {
                color: var(--input-text-disabled-color);
                pointer-events: none;
            }
            .field-prefix,
            .field-suffix {
                color: var(--input-text-disabled-color);
            }
        }
        .input-help-text {
            color: var(--input-text-disabled-color);
        }
        &.checkbox {
            pointer-events: none;
            color: var(--input-text-disabled-color);
            > input:checked ~ .checkmark {
                background-color: gray;
            }
            .checkmark {
                background-color: gray;
            }
        }
    }
    &.border {
        > .control {
            &.full {
                border: 1px solid var(--input-border-color);
            }
            .v-select {
                border: 1px solid var(--input-border-color);
            }
            .choices {
                border: 1px solid var(--input-border-color);
            }
        }
    }
    &.small {
        .control {
            .v-select {
                font-size: 14px;
                .vs__dropdown-toggle {
                    .vs__selected-options {
                        .vs__selected {
                            height: 22px;
                        }
                    }
                }
            }
            .choices {
                font-size: 14px;
                .choices__list--single {
                    .choices__item {
                        padding-top: 2px;
                        height: 22px;
                    }
                }
            }
            input {
                font-size: 14px;
            }
        }
        &.checkbox {
            > .label {
                font-size: 14px;
                padding-left: 24px;
                &.opensans .checkmark {
                    top: 2px;
                }
            }
            .checkmark {
                top: 2px;
                height: 16px;
                width: 16px;
                &:after {
                    left: 5px;
                    top: 2px;
                    width: 4px;
                    height: 8px;
                    border-width: 0 2px 2px 0;
                }
            }
        }
    }
    &.right {
        .control {
            > input {
                text-align: right;
            }
        }
    }
    &.invalid {
        .control {
            > input,
            textarea {
                color: var(--color-error);
            }
        }
    }
    .error-message {
        pointer-events: none;
        border-radius: 3px;
        padding: 8px 6px;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        opacity: 0;
        background-color: rgba(red, 0.9);
        transform: scale(0.95) translateY(-8px);
        transition: opacity 1.55s, transform 3s;
        font-size: 14px;
        &.visible {
            pointer-events: all;
            opacity: 1;
            transform: scale(1) translateY(0px);
            transition: opacity 0.15s, transform 0.3s;
        }
    }

    .input-help-text {
        font-size: var(--font-input-help-text-size);
        font-style: italic;
        text-align: right;
        margin-right: 8px;
        white-space: nowrap;
        &.has-error {
            color: var(--color-error);
        }
    }
    .input-error {
        font-size: 14px;
        color: var(--color-error);
        text-align: right;
    }
    .control {
        position: relative;
        width: 100%;
        &.full-blocks {
            padding: 4px 8px 4px;
            background-color: var(--input-background-color);
            border-radius: var(--input-border-radius);
            border: 1px solid var(--input-border-color);
        }
        &.full {
            padding: 4px 8px 4px;
            background-color: var(--input-background-color);
            border-radius: var(--input-border-radius);
            display: flex;
            border: 1px solid var(--input-border-color);
        }
        &.select-field {
            padding: 4px 4px;
        }
        > .v-select {
            background-color: var(--input-background-color);
            padding: 4px 12px 4px;
            border: 1px solid transparent;
        }
        > .choices {
            background-color: var(--input-background-color);
            padding: 4px 12px 4px;
            border: 1px solid transparent;
            .choices__list--single {
                .choices__item {
                    color: var(--input-text-color);
                }
            }
        }
        > .cooldown {
            pointer-events: none;
            position: absolute;
            left: 12px;
            top: 4px;
            width: calc(100% - 24px);
            height: calc(100% - 8px);
            div {
                height: 100%;
                background-color: rgba(green, 0.2);
            }
            &.active {
                div {
                    animation: progress 2000ms linear;
                }
            }
            &.hidden {
                opacity: 0;
            }
            @keyframes progress {
                0% {
                    background-color: rgba(green, 0.2);
                    width: 0%;
                }
                100% {
                    background-color: rgba(green, 0.5);
                    width: 100%;
                }
            }
        }
        .field-prefix,
        .field-suffix {
            padding-top: 2px;
            color: var(--text-color);
            font-size: 14px;
        }
        .field-prefix.spaced {
            margin-right: 8px;
        }
        .field-suffix.spaced {
            margin-left: 8px;
        }
        .icon {
            color: var(--text-color);
            cursor: pointer;
            &.is-left {
                margin-right: 8px;
            }
            &.is-right {
                margin-left: 8px;
            }
            &:hover {
                color: var(--text-color-high);
            }
        }
        > input,
        textarea,
        select {
            //margin: 4px 8px 4px;
            font-weight: 400;
            &::selection {
                background: var(--input-select-color);
            }
            background-color: transparent;
            color: var(--input-text-color);
            border: none;
            width: 100%;
            text-transform: none;

            &::placeholder {
                color: var(--input-placeholder-color);
                opacity: 0.8;
                //text-transform: uppercase;
            }
            &:focus {
                outline: none; //$color-green solid 1px;
            }
            &:disabled {
                background-color: #fbfbfb;
                color: #a0a0a0;
            }
        }

        > select {
            padding: 1px 12px 0 6px;
        }
        > option {
            //background-color: $color-input-bg;
            background-color: darken(yellow, 20%);
            color: white;
            &:checked {
                background: darken(lightblue, 5%);
            }
        }
        > input,
        textarea {
            &:read-only {
                color: var(--input-text-disabled-color);
            }
        }
        > textarea {
            resize: none;
        }
    }

    @media (max-width: 639px) {
        .control {
            //padding: 4px 8px;
            //border-radius: 3px;
            .field-prefix {
                padding-top: 3px;
                font-size: 12px;
            }
            /*
            &.select-field {

            }
            > input, textarea {

            }
            */
        }
        /*
        &.checkbox {
            > .label {

            }
        }
        */
    }
}

.form-group {
    //border: 1px dashed red;
}


.toogle-buttons {
    margin-top: 1em;
    .toogle-control {
        display: block;
        position: relative;
        margin: 1em 0;
        padding-left: 2em;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .toggle-checkmark {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            height: 24px;
            width: 24px;
            background-color: transparent;
            border: 1px solid black;
            border-radius: 0.2em;

            &::after {
                content: '';
                position: absolute;
                display: none;
                left: 5px;
                top: 5px;
                width: 7px;
                height: 7px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

        .exclusive {
            border-radius: 1em;

            &::after {
                content: '';
                position: absolute;
                display: none;
                left: 5px;
                top: 5px;
                width: 6px;
                height: 6px;
                background-color: blue;
                border: solid yellow;
                border-radius: 1em;
            }
        }

        .is-on {
            //background-color: #2196f3;
            //background-color: var(--text-strong);
            background-color: blue;
            &::after {
                display: block;
            }
        }

        .toggle-text {
            vertical-align: middle;
        }
    }
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.strip.row {
    a {
        margin: 0 3px;
    }
}

.tagify {
    //border: 1px dashed red;
    --tag-bg: #e1eef3;
    border: none;
    &__tag {
        margin: 3px 6px 3px 0;
    }
    &__input {
        //border: 1px dashed green;
        margin: 3px 6px 0 0;
        padding: 3px;
    }
    &__dropdown {
        $dropdown: &;
        text-align: left;
        #{$dropdown}__wrapper {
            border-top-width: 1px;
        }
    }
}

.relfield {
    .relitem {
        &:not(:last-child) {
            border-bottom: 1px dashed var(--input-border-color);
        }
        &.empty {
            padding: 0;
            border: none;
            color: var(--input-text-disabled-color);
            //background-color: var(--input-border-color);
        }
    }
    .relbottom {
        //padding: 0px 0px 2px;
        margin-top: 4px;
        height: 19px;
        //text-align: right;
        //background-color: var(--input-border-color);
        //border: 1px solid red;
        .rbentries {
            padding: 0px;
            font-size: 12px;
        }
        button {
            float: right;
            //margin-top: 3px;
        }
    }
}