.sri {
    .mtype {
        display: inline-block;
        text-align: right;
        width: 100%;
        font-size: 14px;
    }

}

.pad-left-extra {
    padding-left: 24px;
}

:root {
    --accent:  hsl(177, 70%, 41%);
    --complement:   hsl(from var(--accent) calc(h + 180deg) s l);

    --tst-primary: #ff7d00;
    --tst-bbb: color-mix(in srgb, transparent, var(--tst-primary) 75%);
}

//===================================
.tst1 {
    padding: 8px;
    background-color: var(--tst-primary);
}
.tst2 {
    padding: 8px;
    background-color: var(--tst-bbb);
}

.tmptitle {
    background-color: var(--nav-bar-background-color);
    border: 1px solid var(--nav-bar-border-color);
    padding: 8px;
    margin-bottom: 16px;
}

.tmpdata {
    $c1: #fbf8cc;
    overflow: hidden;
    //$c1: #ffadad;
    border-radius: 3px !important;
    .tdtitle {
        text-transform: capitalize;
        //font-size: 14px;
        padding: 4px 8px;
        //color: white;
    }
    .tdbody {

    }
    .tdfooter {
        padding: 8px;
    }
}

.datagrid {
    //min-height: 100px;
}

.xxx {
    background-color: var(--sidebar-background-color);
    border: 1px dotted red;
    position: fixed;
    bottom: 0px;
    left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    z-index: 10;
    /*
    position: absolute;
    height: 32px;
    width: 100%;

    top: 0px;
    left: 0px;
    */
}






















//=================================


#navbar { overflow: hidden; background-color: #333;}
#navbar a { float: left; display: block; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px; }
#navbar a:hover { background-color: #ddd;color: black;}
#navbar a.active { background-color: #04AA6D; color: white;}
.sticky {
//position: fixed;
//top: 80px;
//left: var(--sidebar-width);
//width: calc(100vw - var(--sidebar-width));
//z-index: 10;
width: 100%;
position: sticky;
top: 0;
//bottom: 0;
z-index: 10;
}

