.infobar {
    background-color: var(--background-color-accent);
    padding: 6px 12px;
    //border: 1px dashed red;
    margin-bottom: 16px;
    &.warning {
        //border: 1px solid var(--button-background-color-warning);
        background-color: color-mix(in srgb, var(--color-warning) 15%, var(--background-color));
    }
}

.sri {
    .mtype {
        display: inline-block;
        text-align: right;
        width: 100%;
        font-size: 14px;
    }

}

.sblink {
    display: block;
    -webkit-user-drag: none;
    padding: 4px 24px;
    color: var(--nav-link-color);
    text-decoration: none;

    &.router-link-active {
        background-color: color-mix(in srgb, var(--sidebar-background-color), #000 5%);
        color: white !important;
    }
}

.pad-left-extra {
    padding-left: 24px;
}

:root {
    --accent:  hsl(177, 70%, 41%);
    --complement:   hsl(from var(--accent) calc(h + 180deg) s l);

    --tst-primary: #ff7d00;
    --tst-bbb: color-mix(in srgb, transparent, var(--tst-primary) 75%);
}

//===================================
.tst1 {
    padding: 8px;
    background-color: var(--tst-primary);
}
.tst2 {
    padding: 8px;
    background-color: var(--tst-bbb);
}

.tmptitle {
    background-color: var(--nav-bar-background-color);
    border: 1px solid var(--nav-bar-border-color);
    padding: 8px;
    margin-bottom: 16px;
}

.tmpdata {
    $c1: #fbf8cc;
    overflow: hidden;
    //$c1: #ffadad;
    border-radius: 3px !important;
    .tdtitle {
        text-transform: capitalize;
        //font-size: 14px;
        padding: 4px 8px;
        //color: white;
    }
    .tdbody {

    }
    .tdfooter {
        padding: 8px;
    }
}

.datagrid {
    //min-height: 100px;
}

.xxx {
    background-color: var(--sidebar-background-color);
    border: 1px dotted red;
    position: fixed;
    bottom: 0px;
    left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    z-index: 10;
    /*
    position: absolute;
    height: 32px;
    width: 100%;

    top: 0px;
    left: 0px;
    */
}






















//=================================


#navbar { overflow: hidden; background-color: #333;}
#navbar a { float: left; display: block; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px; }
#navbar a:hover { background-color: #ddd;color: black;}
#navbar a.active { background-color: #04AA6D; color: white;}
.sticky {
//position: fixed;
//top: 80px;
//left: var(--sidebar-width);
//width: calc(100vw - var(--sidebar-width));
//z-index: 10;
width: 100%;
position: sticky;
top: 0;
//bottom: 0;
z-index: 10;
}

//=================
.gtoggle {
    display: inline-block;
    @include no-select();
    border: 1px solid var(--input-border-color);
    overflow: hidden;
    //border-radius: 5px;
    font-size: 16px;
    vertical-align: middle;

    > .buttons {
        display: inline-block;
        position: relative;
        //background-color: pxlightness(--button-background-color, 0.2, 0.4);

        > .togbutton {
            //color: var(--button-text-color);
            height: 30px;
            text-align: center;
            display: inline-block;
            position: relative;
            cursor: pointer;
            padding: 4px 6px 4px;
            transition: opacity 0.25s, background-color 0.20s;
            &.is-on {
                color: var(--button-text-color-hot);
                background-color: pxlightness(--button-background-color, 0.80);
                text-shadow:
                            1px 1px 14px pxlightness(--button-background-color, 1.1),
                            2px 2px 9px pxlightness(--button-background-color, 1.2);
            }
            &:first-child {
                padding-left: 12px;
            }
            &:last-child {
                padding-right: 12px;
            }
            &:not(:first-child) {
                border-left: 1px dashed red;
            }
        }
    }
    &.small {
        font-size: 14px;
        > .buttons {
            > .togbutton {
                //padding: 5px 6px 3px;
                padding: 6px 6px 5px;

            }
        }
    }
    &.wide {
        > .buttons {
            > .togbutton {
                //padding: 5px 6px 3px;
                padding: 4px 18px 4px;
                &:first-child {
                    padding-left: 24px;
                }
                &:last-child {
                    padding-right: 24px;
                }
            }
        }
    }

    &.disabled {
        pointer-events: none;
        filter: saturate(0.3);
        opacity: 0.3;
    }

        &:not(:first-child) {
        margin-left: 8px;
    }
}

//================
$swtch-height: 24px;
$swtch-brdr: #{$swtch-height / 2};
$swtch-img-size: #{$swtch-height - 2px};
.swtch {
    display: inline-block;
    position: relative;
    user-select: none;
    cursor: pointer;
    height: $swtch-height;
    white-space: nowrap;
    &:not(:first-child) {
        margin-left: 8px;
    }

    > .sw-cb {
        opacity: 0;
        position: absolute;
        width: 1px;
        height: 1px;
    }
    > .swtch-slot {
        padding-left: 8px;
        transition: text-shadow 0.25s ease-out;

        //text-shadow: 1px 1px 14px rgba($color-gal-green-light, 1);
    }
    > .swtch-cntr {
        padding: 1px 0 0 1px;
        position: relative;
        top: 7px;
        height: $swtch-height;
        border-radius: $swtch-brdr;
        display: inline-block;
        //vertical-align: middle;
        /*
        border-bottom: 1px solid #a7897d;border-right: 1px solid #a7897d;border-top: 1px solid #724939;border-left: 1px solid #724939;
        */
        //background-color: #20120B;
        //background-color: #10120B;
        background-color: var(--input-background-color);
        //border: 1px solid var(--input-border-color);
        transition: background-color 0.25s ease-out;
        filter: drop-shadow(1px 1px 1px rgba(#a7897d, 0.5)) drop-shadow(-1px -1px 1px rgba(#724939, 0.5));
        //overflow: hidden;
        > img, .stracker {
            background-color: var(--button-background-color);
            border-radius: 50%;
            z-index: 3;
            position: absolute;
            height: $swtch-img-size;
            width: $swtch-img-size;
            //top: 1px;left: 1px;
            transition: transform 0.20s ease-in;
        }
        .lab-cntr {
            overflow: hidden;
            position: relative;
            width: 100%;height: 100%;
            > span {
                z-index: 2;
                font-size: 18px;
                position: absolute;
                top: 1px;
                white-space: nowrap;

                color: #5F4339;
                background-color: transparent;
                font-weight: bold;
                transition: transform 0.20s ease-in, opacity 0.50s, color 0.35s;
                &.lab-off {
                    left: 26px;
                    right: auto;
                }
                &.lab-on {
                    left: -26px;
                    text-align: right;
                    &.toggled {
                        color: green;
                    }
                }
                &.visible {
                    //opacity: 1;
                }
            }
        }
    }
    &.toggled {
        //background-color: lighten(#20120B, 10%);
        > .swtch-slot {
            //text-shadow: 1px 1px 14px rgba($color-gal-green-light, 1), 2px 2px 9px rgba($color-gal-green-strong, 1);
        }
        > .swtch-cntr {
            //background-color: $color-gal-yellow-dark;
            //background-color: #20120B;
            //background-color: #2e190e;
            //background-color: #152a04;//darken($color-gal-green, 10%);
            /*
            > span {
                &.toggled {
                    //#d7aa1f
                    margin-left: 10px;
                    color: $color-gal-yellow-light;
                }
            }
            */
        }
    }
}

//=====================
.devpanel {
    background-color: color-mix(in srgb, var(--color-warning), var(--background-color) 95%);;
    border: 1px dashed color-mix(in srgb, var(--color-warning), var(--background-color) 35%);
    padding: 4px;
}
.xx {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.cc1 {
     background-color: hsl(177, 70%, 41%);
}
.cc2 {
    background-color: rgba(255, 0, 0, 1)
}
.cc3 {
    background-color: hsl(177, 70%, 41%);
}